*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fl {
  float: left;
}

#root {
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 80%;
  min-width: 950px;
  height: 100vh;
  margin: 0 auto;
  padding: 2.5% 0;
}

.sidebar {
  height: 100%;
  min-height: 80px;
  width: 35%;
  border-right: 1px solid blue;
  background-color: white;
  overflow-y: auto;
}

.main {
  width: 65%;
  background-image: url('../img/mine.jpg');
  height: calc(100% - 80px);
  position: relative;
}

.user-menu {
  height: 80px;
  background-color: #eaeaea;
}

.user-menu img, #top-chat-menu img {
  height: 100%;
  vertical-align: middle;
  border-radius: 50%;
  padding: 10px 0;
  margin: 0 10px;
}

.user-menu-icons {
  float: right;
  margin-right: 10px;
  line-height: 80px;
}

i {
  color: #b1b1b1;
  cursor: pointer;
  font-size: 1.4em !important;
}

.user-menu-icons i {
  margin-right: 20px;
}

.notifications-row {
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

#notification-icon {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 15px;
}

#notification-icon i {
  padding: 10px;
  color: #8edafc;
}

#notification-text {
  display: inline-block;
  font-size: 0.95em;
}

#notification-text span:last-child {
  font-size: 0.9em;
  text-decoration: underline;
  color: grey;
}

#input {
  padding: 10px;
  background-color: #fafafa;
  display: inline-block;
  width: 100%;
}

#input i {
  width: 30px;
}

#input input {
  padding: 10px;
  border: none;
  width: calc(100% - 35px);
}

#contacts-box img {
  width: 60px;
  margin-right: 20px;
}

#single-contact-container {
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  overflow-y: auto;
}

#single-contact-container:hover {
  background-color: lightgrey;
}

#contacts-box #single-contact-container:last-child {
  border-bottom: none;
}

#top-chat-menu {
  height: 80px;
  position: relative;
  background-color: #eaeaea;
  position: relative;
}

#top-chat-menu-text {
  display: inline-block;
  position: absolute;
  top: 20px;
}

#top-chat-menu-text span:last-child {
  font-size: 0.9em;
  color: grey;
}

#chat-box {
  height: calc(100% - 80px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#sub-chat-box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.cloud-message {
  padding: 20px 30px 30px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  min-width: 120px;
  word-break: break-all;
}

.time {
  font-size: 0.7em;
  color: grey;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.me {
  background-color: #dcf8c6;
  align-self: flex-end;
  margin-right: 30px;
}

.you {
  background-color: white;
  align-self: flex-start;
  margin-left: 30px;
}

.bottom {
  background-color: white;
  min-height: 80px;
  width: 65%;
  padding: 0 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom input {
  padding: 10px;
  width: 90%;
}
